<section _ngcontent-sc117="" class="st-section-custom st-collaborate">
  <div _ngcontent-sc117="" class="container-fluid">
    <div _ngcontent-sc117="" class="row align-items-center">
      <div _ngcontent-sc117="" class="col-lg-5 st-col-content">
        <div _ngcontent-sc117="" class="st-inner-block">
          <h2 _ngcontent-sc117="" id="collaborate-header" class="st-col-header">
            Collaborate
          </h2>
          <div _ngcontent-sc117="" class="st-content">
            With
            <span _ngcontent-sc117="" class="st-smarttask-name">SmartTask</span>
            's mobile app stay connected with your team on the go! Allocate
            tasks, comment and get notified on the tasks you are following
          </div>
          <div _ngcontent-sc117="" class="st-apps d-flex align-items-center">
            <a
              _ngcontent-sc117=""
              href="https://play.google.com/store/apps/details?id=com.smarttask.app"
              target="_blank"
              class="st-app-link"
            >
              <img
                _ngcontent-sc117=""
                src="assets/images/store/webp/android-store.webp"
                class="st-app-image"
              />
            </a>
            <a
              _ngcontent-sc117=""
              href="https://itunes.apple.com/us/app/smarttask/id1231849838?ls=1&amp;mt=8"
              target="_blank"
              class="st-app-link"
            >
              <img
                _ngcontent-sc117=""
                src="assets/images/store/webp/ios-store.webp"
                class="st-app-image"
              />
            </a>
            <a
              _ngcontent-sc117=""
              href="https://icedrive.net/0/6cHFOxIr7T"
              target="_blank"
              class="st-app-link"
            >
              <img
                _ngcontent-sc117=""
                src="assets/images/store/webp/windows-store.webp"
                class="st-app-image"
              />
            </a>
          </div>
        </div>
      </div>
      <div
        _ngcontent-sc117=""
        class="
          offset-md-2
          col-md-8
          offset-lg-0
          col-lg-7
          st-col-illustration
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <img
          src="../../assets/images/collaborate.webp"
          class="collaborate-img"
        />
        <!-- <ng-lottie _ngcontent-sc117="" class="st-animation img-fluid">
                    <div style="width:100%;height:100%;"></div>
                </ng-lottie> -->
      </div>
    </div>
  </div>
</section>
