<section id="nav">
  <div class="brand">
    <img src="assets/images/logo/smarttask-icon.webp" class="img" />
    <span class="brand-name st-home-active">SmartTask</span>
  </div>
  <div class="main-content">
    <div class="nav-items">
      <a
        class="btn btn-sm-custom btn-link btn-link-custom st-home-active"
        href="/"
        >Home</a
      >
      <a class="btn btn-sm-custom btn-link btn-link-custom" href="/product"
        >Product</a
      >
      <a
        class="
          btn btn-sm-custom btn-link btn-link-custom
          d-md-none d-lg-inline-block
        "
        href="/templates"
        >Templates
      </a>
      <a class="btn btn-sm-custom btn-link btn-link-custom" href="/pricing"
        >Pricing</a
      >
      <a
        target="_blank"
        href="https://guide.smarttask.io"
        class="btn btn-sm-custom btn-link btn-link-custom"
        >Guide</a
      >
      <a class="btn btn-sm-custom btn-link btn-link-custom" href="/blog"
        >Blog</a
      >
    </div>
    <div class="actions">
      <a
        class="btn btn-sm-custom btn-outline-light btn-register"
        href="https://auth.smarttask.io/Account/Register"
        >Signup for Free</a
      >
      <a
        class="btn btn-sm-custom btn-link btn-link-custom btn-login"
        href="https://auth.smarttask.io/Account/Login"
        >Login</a
      >
    </div>
  </div>
  <div class="on-collapse">
    <div ngbdropdown="" placement="bottom-right" class="dropdown">
      <button
        ngbdropdowntoggle=""
        class="
          dropdown-toggle
          btn btn-link btn-link-custom
          hide-arrow
          btn-open-dropdown
        "
        aria-expanded="false"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div
        ngbdropdownmenu=""
        aria-labelledby="dropdownBasic2"
        x-placement="bottom-right"
        class="dropdown-menu"
      >
        <button class="dropdown-item" tabindex="0">Home</button>
        <button class="dropdown-item" tabindex="0">Product</button>
        <button class="dropdown-item" tabindex="0">Templates</button>
        <button class="dropdown-item" tabindex="0">Pricing</button>
        <a
          href="https://guide.smarttask.io"
          target="_blank"
          class="dropdown-item"
          >Guide</a
        >
        <button class="dropdown-item" tabindex="0">Blog</button>
        <a
          class="dropdown-item"
          href="https://auth.smarttask.io/Account/Register"
          >Register</a
        >
        <a class="dropdown-item" href="https://auth.smarttask.io/Account/Login"
          >Login</a
        >
      </div>
    </div>
  </div>
</section>
