<div class="demo-info-wrap container-fluid">
  <div class="row">
    <div class="st-col-info col-lg-4">
      <h4 class="st-col-header">Get in touch, to know more</h4>
      <div class="st-content d-none d-lg-block">
        We are here to help you succeed
      </div>
      <!---->
    </div>
    <div
      class="
        col-lg-8
        st-col-actions
        d-flex
        align-items-center
        justify-content-around
      "
    >
      <div class="st-action-item">
        <div class="st-image">
          <img
            LazyImgDirective
            src="https://smarttasktest.s3.ap-south-1.amazonaws.com/assets/images/common/book/book-meeting.webp"
            class="img-fluid"
          />
        </div>
        <button class="btn btn-primary btn-block st-btn-schedule text-truncate">
          Book a meeting
        </button>
      </div>
      <div class="st-action-item">
        <div class="st-image">
          <img
            LazyImgDirective
            src="https://smarttasktest.s3.ap-south-1.amazonaws.com/assets/images/common/book/watch-demo.webp"
            class="img-fluid"
          />
        </div>
        <button class="btn btn-danger btn-block st-btn-demo text-truncate">
          Watch demo
        </button>
      </div>
      <div class="st-action-item">
        <div class="st-image">
          <img
            LazyImgDirective
            src="https://smarttasktest.s3.ap-south-1.amazonaws.com/assets/images/common/book/start-chat.webp"
            class="img-fluid"
          />
        </div>
        <button class="btn btn-yellow btn-block st-btn-chat text-truncate">
          Chat with us
        </button>
      </div>
    </div>
  </div>
</div>
