<section
  _ngcontent-sc121=""
  class="st-integrations st-section-custom xyz d-flex align-items-stretch"
>
  <div _ngcontent-sc121="" class="container">
    <div _ngcontent-sc121="" class="row h-100">
      <div
        _ngcontent-sc121=""
        class="col-lg-6 col-xl-7 st-col-content d-flex align-items-center"
      >
        <div _ngcontent-sc121="" class="st-inner-block">
          <h2 _ngcontent-sc121="" class="st-content-header">
            Integrates with your existing tools
          </h2>
          <div _ngcontent-sc121="" class="st-content">
            Get tickets, leads, contact forms' data and more into
            <span _ngcontent-sc121="" class="st-smarttask-name">SmartTask</span>
            with a wide range of integrations to choose from. Have everything in
            one place.
          </div>
        </div>
      </div>
      <div
        _ngcontent-sc121=""
        class="
          col-lg-6 col-xl-5
          d-flex
          st-col-illustration
          align-items-center
          justify-content-center
        "
      >
        <img src="../../assets/images/integration.webp" alt="" srcset="" />
        <!-- <ng-lottie _ngcontent-sc121="" class="st-animation img-fluid">
                    <div style="width:100%;height:100%;"></div>
                </ng-lottie> -->
      </div>
    </div>
  </div>
</section>
