<section class="st-testimonials st-section-custom">
  <div class="container testimonials-wrap d-flex flex-column">
    <h2 class="text-center mb-5 pt-5">What our customers say</h2>
    <div class="d-flex flex-wrap">
      <div class="testimonial-wrap col-sm-12 col-md-6 col-lg-4 pr-2">
        <!---->
        <div class="testimonial-a d-flex flex-column mb-2">
          <div class="top p-4">
            <div class="quote">
              It checks all the boxes, especially the ability to generate Custom
              Charts from Time Tracking data. We quickly implemented it across
              teams in different countries. Its a no-brainer! Get it today!
            </div>
          </div>
          <div class="bottom d-flex align-items-center p-2 pl-4 pr-4">
            <div class="left">
              <img
                LazyImgDirective
                class="feature-image rounded-circle"
                src="https://images.prismic.io/smarttask/f4d57927-5006-4f98-a93b-c9332a63a73e_Arnab+-+Arnab+Banerjee.jpg?auto=compress,format"
              />
            </div>
            <div class="right ml-4">
              <div class="person-name">Mr. Arnab Banerjee</div>
              <div class="organization-name">ABB</div>
            </div>
          </div>
          <!---->
        </div>
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <div class="testimonial-wrap col-sm-12 col-md-6 col-lg-4 pr-2">
        <!---->
        <div class="testimonial-a d-flex flex-column mb-2">
          <div class="top p-4">
            <div class="quote">
              We tried probably a half a dozen different tools for project
              management and SmartTask is where we landed. I don't see us
              switching again anytime soon!
            </div>
          </div>
          <div class="bottom d-flex align-items-center p-2 pl-4 pr-4">
            <div class="left">
              <img
                LazyImgDirective
                class="feature-image rounded-circle"
                src="https://images.prismic.io/smarttask/2ddaac5af77c93e884635144cb3e17c537dfa21d_daniel-helland---uffdata.jpg?auto=compress,format"
              />
            </div>
            <div class="right ml-4">
              <div class="person-name">Daniel Helland</div>
              <div class="organization-name">Uffdata</div>
            </div>
          </div>
          <!---->
        </div>
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <div class="testimonial-wrap col-sm-12 col-md-6 col-lg-4 pr-2">
        <a class="testimonial-a d-flex flex-column mb-2">
          <div class="top p-4">
            <div class="quote">
              Maintaining Customer Interaction History and Service records are
              very important given Legal Compliances. This is taken care
              comprehensively with SmartTask.
            </div>
          </div>
          <div class="bottom d-flex align-items-center p-2 pl-4 pr-4">
            <div class="left">
              <img
                LazyImgDirective
                class="feature-image rounded-circle"
                src="https://images.prismic.io/smarttask/772654bc-259e-487b-a327-16812ac76f4f_Chanakya+Patel.jpg?auto=compress,format"
              />
            </div>
            <div class="right ml-4">
              <div class="person-name">Mr. Chanakya Patel</div>
              <div class="organization-name">Topsun Energy Pvt Ltd</div>
            </div>
          </div>
          <!---->
        </a>
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <div class="testimonial-wrap col-sm-12 col-md-6 col-lg-4 pr-2">
        <a class="testimonial-a d-flex flex-column mb-2">
          <div class="top p-4">
            <div class="quote">
              When dealing with multiple inquiries, timely follow-ups and
              remembering last interactions play a huge role converting a lead
              into a customer. With SmartTask we are always on top of our
              processes and follow-ups are a breeze.
            </div>
          </div>
          <div class="bottom d-flex align-items-center p-2 pl-4 pr-4">
            <div class="left">
              <img
                class="feature-image rounded-circle"
                src="https://images.prismic.io/smarttask/68a5fb25-d0c3-4fba-a4fd-dda9b83db1a7_jasmin-bi-200x269.png?auto=compress,format"
              />
            </div>
            <div class="right ml-4">
              <div class="person-name">Mr. Jasmin Shah</div>
              <div class="organization-name">Binary Informatics</div>
            </div>
          </div>
          <!---->
        </a>
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <div class="testimonial-wrap col-sm-12 col-md-6 col-lg-4 pr-2">
        <a class="testimonial-a d-flex flex-column mb-2">
          <div class="top p-4">
            <div class="quote">
              SmartTask as an online productivity tool is simple, enhances
              productivity and is cost effective. It has certainly made my life
              easier.
            </div>
          </div>
          <div class="bottom d-flex align-items-center p-2 pl-4 pr-4">
            <div class="left">
              <img
                LazyImgDirective
                class="feature-image rounded-circle"
                src="https://images.prismic.io/smarttask/1d4ccd88541ceeedad51ffd71c7ab896f15908f0_geet-arora---sundyota.webp?auto=compress,format"
              />
            </div>
            <div class="right ml-4">
              <div class="person-name">Mr. Geet Arora</div>
              <div class="organization-name">Sundyota Numandis Pvt Ltd</div>
            </div>
          </div>
          <!---->
        </a>
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <div class="testimonial-wrap col-sm-12 col-md-6 col-lg-4 pr-2">
        <a class="testimonial-a d-flex flex-column mb-2">
          <div class="top p-4">
            <div class="quote">
              With SmartTask its easy for us to track the prospect's journey in
              the deal pipeline. Most importantly it helps us estimate future
              sales with accuracy.
            </div>
          </div>
          <div class="bottom d-flex align-items-center p-2 pl-4 pr-4">
            <div class="left">
              <img
                LazyImgDirective
                class="feature-image rounded-circle"
                src="https://images.prismic.io/smarttask/bcc2ed0c368c07dff5b6934246d0225c37f9d4c0_chirag.webp?auto=compress,format"
              />
            </div>
            <div class="right ml-4">
              <div class="person-name">Mr. Chirag Panchal</div>
              <div class="organization-name">Enerlyf LLP</div>
            </div>
          </div>
          <!---->
        </a>
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
      <!---->
    </div>
    <div class="load-more d-flex flex-column align-items-center">
      <!---->
      <!---->
    </div>
  </div>
</section>
