<app-main-nav-bar id="nav"></app-main-nav-bar>
<header class="st-header overflow-hidden">
  <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-5 st-col-info d-flex align-items-center">
        <div class="st-inner-block">
          <h1 class="fw-500 st-heading mb-4">All Your Work In One Place</h1>
          <h5 class="text-extra-dark-grey st-sub-heading">
            To dos, Board, Calendar, Timeline, Chat and more
          </h5>
          <div class="st-action-items mt-2">
            <a
              class="
                btn btn-lg btn-round btn-primary
                w-200
                mt-2
                mr-3
                px-6
                d-inline-block
                btn-signup
              "
              href="https://auth.smarttask.io/Account/Register"
              >Signup for Free</a
            >
            <a
              class="
                btn btn-lg btn-round btn-outline-light
                mt-2
                w-200
                px-6
                btn-login
              "
              href="https://auth.smarttask.io/Account/Login"
              >Login</a
            >
          </div>
          <div class="st-rating mt-4">
            <div class="st-rating-info d-flex align-items-center">
              <svg viewBox="0 0 15 14" class="icon svg-15 align-self-center">
                <use xlink:href="#star"></use>
              </svg>
              <svg viewBox="0 0 15 14" class="icon svg-15 align-self-center">
                <use xlink:href="#star"></use>
              </svg>
              <svg viewBox="0 0 15 14" class="icon svg-15 align-self-center">
                <use xlink:href="#star"></use>
              </svg>
              <svg viewBox="0 0 15 14" class="icon svg-15 align-self-center">
                <use xlink:href="#star"></use>
              </svg>
              <svg viewBox="0 0 15 14" class="icon svg-15 align-self-center">
                <use xlink:href="#star"></use>
              </svg>
              <div class="st-text ml-2 text-extra-dark-grey">
                Based on 100+ Reviews
              </div>
            </div>
            <div class="st-review-sites d-flex align-items-center">
              <a
                href="https://www.g2.com/products/smarttask/reviews"
                target="_blank"
                class="st-review-site"
              >
                <img
                  src="https://smarttasktest.s3.ap-south-1.amazonaws.com/assets/images/review-sites/g2crowd.png"
                  class="st-site-image"
                />
              </a>
              <a
                href="https://www.capterra.com/p/149814/SmartTask/"
                target="_blank"
                class="st-review-site"
              >
                <img
                  src="https://smarttasktest.s3.ap-south-1.amazonaws.com/assets/images/review-sites/capterra.png"
                  class="st-site-image"
                />
              </a>
              <a
                href="https://www.google.com/search?q=google+smarttask+reviews&amp;oq=google+smarttask+reviews&amp;aqs=chrome..69i57j69i64.5325j0j4&amp;sourceid=chrome&amp;ie=UTF-8#"
                target="_blank"
                class="st-review-site"
              >
                <img
                  src="https://smarttasktest.s3.ap-south-1.amazonaws.com/assets/images/review-sites/google.webp"
                  class="st-site-image"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          col-lg-7
          st-col-illustration
          d-flex
          align-items-center
          justify-content-center
          h-100
        "
      >
        <div class="st-animation-wrap img-fluid">
          <ng-lottie class="st-animation">
            <div style="width: 100%; height: 100%"></div>
          </ng-lottie>
          <img
            src="assets/images/home/header/play-button.png"
            class="btn-play-video"
          />
        </div>
      </div>
    </div>
  </div>
</header>
<section class="st-teams pt-3 pb-4">
  <div class="container d-flex flex-column">
    <div
      class="
        st-teams-info
        d-flex
        align-items-center
        justify-content-center
        pb-2
      "
    >
      Trusted by over 20000 teams
    </div>
    <div
      class="st-team-images d-flex align-items-center justify-content-around"
    >
      <svg viewBox="0 0 1280 509" class="st-team-logo align-self-center">
        <use xlink:href="#company-abb"></use>
      </svg>
      <svg viewBox="0 0 6687 2262" class="st-team-logo align-self-center">
        <use xlink:href="#company-adecco"></use>
      </svg>
      <svg viewBox="0 0 1200 367" class="st-team-logo align-self-center">
        <use xlink:href="#company-dassault"></use>
      </svg>
      <svg viewBox="0 0 612 157" class="st-team-logo align-self-center">
        <use xlink:href="#company-ecolab"></use>
      </svg>
      <svg viewBox="0 0 6586 2500" class="st-team-logo align-self-center">
        <use xlink:href="#company-kims"></use>
      </svg>
    </div>
  </div>
</section>
<app-main-views></app-main-views>
<app-collaborate _nghost-sc117=""></app-collaborate>
<app-main-features></app-main-features>
<app-testimonials></app-testimonials>
<app-integrations-info></app-integrations-info>
<section class="st-setup-demo">
  <div class="container-fluid st-outer-container">
    <app-setup-demo></app-setup-demo>
  </div>
</section>
<app-main-footer></app-main-footer>
