<div class="upper-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4>Usecases</h4>
        <ul class="list-unstyled">
          <li>
            <a fargment="sub-header" href="/product/task">Task Management</a>
          </li>
          <li>
            <a fargment="sub-header" href="/product/project"
              >Project Management</a
            >
          </li>
          <li>
            <a fargment="sub-header" href="/product/crm">CRM</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>SmartTask</h4>
        <ul class="list-unstyled">
          <li>
            <a fargment="sub-header" href="/product">Product</a>
          </li>
          <li>
            <a href="/features">Features</a>
          </li>
          <li>
            <a href="/pricing">Pricing</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/apps">Integrations</a>
          </li>
          <li>
            <a href="/templates">Templates</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Compare</h4>
        <ul class="list-unstyled">
          <li>
            <a href="/alternatives/asana-alternative">Asana Alternative</a>
          </li>
          <li>
            <a href="/alternatives/trello-alternative">Trello Alternative</a>
          </li>
          <li>
            <a href="/alternatives/clickup-alternative">Clickup Alternative</a>
          </li>
          <li>
            <a href="/alternatives/monday-alternative"
              >Monday.com Alternative</a
            >
          </li>
          <li>
            <a href="/alternatives/smartsheet-alternative"
              >Smartsheet Alternative</a
            >
          </li>
          <li>
            <a href="/alternatives/basecamp-alternative"
              >Basecamp Alternative</a
            >
          </li>
          <li>
            <a href="/alternatives/wrike-alternative">Wrike Alternative</a>
          </li>
          <li>
            <a href="/alternatives/plutio-alternative">Plutio Alternative</a>
          </li>
          <li>
            <a href="/alternatives/niftypm-alternative">NiftyPM Alternative</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Support</h4>
        <ul class="list-unstyled">
          <li>
            <a href="https://forum.smarttask.io" target="_blank">Forum</a>
          </li>
          <li>
            <a href="https://guide.smarttask.io" target="_blank">Guide</a>
          </li>
          <li>
            <a href="https://updates.smarttask.io" target="_blank"
              >Product Updates</a
            >
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms-of-service">Terms of Service</a>
          </li>
          <li>
            <a href="https://smarttask.gdprpage.com/" target="_blank"
              >GDPR Compliant</a
            >
          </li>
          <li>
            <a>Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="lower-footer">
  <div class="container">
    <div class="row">
      <div class="app-links">
        <a
          href="https://play.google.com/store/apps/details?id=com.smarttask.app"
          target="_blank"
          class="app-link android"
        >
          <img
            data-src="assets/images/store/webp/android-store.webp"
            class="img-responsive app-icon ls-is-cached lazyloaded"
            src="assets/images/store/webp/android-store.webp"
          />
        </a>
        <a
          href="https://itunes.apple.com/us/app/smarttask/id1231849838?ls=1&amp;mt=8"
          target="_blank"
          class="app-link ios mr-4"
        >
          <img
            data-src="assets/images/store/webp/ios-store.webp"
            class="img-reponsive app-icon ls-is-cached lazyloaded"
            src="assets/images/store/webp/ios-store.webp"
          />
        </a>
        <a
          href="https://icedrive.net/0/6cHFOxIr7T"
          target="_blank"
          class="app-link windows"
        >
          <img
            data-src="assets/images/store/webp/windows-store.webp"
            class="img-responsive app-icon ls-is-cached lazyloaded"
            src="assets/images/store/webp/windows-store.webp"
          />
        </a>
      </div>
      <div class="social-share ml-auto d-flex align-items-center">
        <a
          href="https://www.facebook.com/SmartTask.io"
          target="_blank"
          class="social-link"
        >
          <i class="fa fa-facebook ml-3"></i>
        </a>
        <a
          href="https://twitter.com/SmartTask_io"
          target="_blank"
          class="social-link"
        >
          <i class="fa fa-twitter ml-3"></i>
        </a>
      </div>
    </div>
  </div>
</div>
